body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #344e41;
}

div {
    color: #dad7cd;
    font-size: 4rem;
    font-weight: bold;
}
